@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-md-12">
        <form class="form" id="ca-configurator">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>CA Configurator</strong></div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="on">"On" Color</label>
                            <input class="form-control" id="on" type="text" value="#fff" />
                        </div>
                        <div class="form-group">
                            <label for="off">"Off" Color</label>
                            <input class="form-control" id="off" type="text" value="#3276b1" />
                        </div>
                        <div class="form-group">
                            <label for="rule">Rule</label>
                            <input class="form-control" id="rule" type="number" value="18" min="1" max="256" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="width">Width</label>
                            <input class="form-control" id="width" type="number" value="514" />
                        </div>
                        <div class="form-group">
                            <label for="generations">Generation Count</label>
                            <input class="form-control" id="generations" type="number" value="256" />
                        </div>
                        <div class="form-group">
                            <label for="initial">Initial Conditions
                            <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="A comma-separated list of cell numbers to intially set to on. Uses a zero-based index. Use .. for ranges. E.g. 0..199 fills in the first 200 cells."></span>
                            </label>
                            <input class="form-control" id="initial" type="text" value="256" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <table class="table table-hover" id="rules-table">
                            <tr>
                                <th>Pattern</th>
                                <th>New State</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit">Generate</button>
                </div>
            </div>
        </form>
    </div>
</div>
<canvas id="sim-canvas"></canvas>
@Scripts.Render("~/Scripts/Utils.js")
@Scripts.Render("~/Scripts/cellular-automata.js")
@Scripts.Render("~/Scripts/CAGrid.js")
@Scripts.Render("~/Scripts/app.js")