@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col-md-8">
        <form class="form" id="ca-configurator">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>CA Configurator</strong></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="on">"On" character</label>
                            <input class="form-control" id="on" type="text" value="&amp;lhblk;" />
                        </div>
                        <div class="form-group">
                            <label for="off">"Off" character</label>
                            <input class="form-control" id="off" type="text" value="&amp;nbsp;" />
                        </div>
                        <div class="form-group">
                            <label for="rule">Rule</label>
                            <input class="form-control" id="rule" type="number" value="110" min="1" max="256" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="width">Width</label>
                            <input class="form-control" id="width" type="number" value="100" />
                        </div>
                        <div class="form-group">
                            <label for="generations">Generation Count</label>
                            <input class="form-control" id="generations" type="number" value="1000" />
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" type="submit">Generate</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="sim-table"></div>
@Scripts.Render("~/Scripts/Utils.js")
@Scripts.Render("~/Scripts/cellular-automata.js")
@Scripts.Render("~/Scripts/CAGrid.js")
@Scripts.Render("~/Scripts/app.js")